<footer>
    <div class="row  ">
        <div class="col-md-3 ">
            <app-footer-menu-group title="Training Banking" [items]="trainingBankMenu"></app-footer-menu-group>
        </div>
        <div class="col-md-3">
            <app-footer-menu-group title="Para você" [items]="forYouMenu"></app-footer-menu-group>
        </div>
        <div class="col-md-3">
            <app-footer-menu-group title="Segmentos" [items]="segmentsMenu"></app-footer-menu-group>
        </div>
    </div>
</footer>